/*

Light Theme color palette

*/

// Define colors
$purple500: #381668;
$purple400: #5E1ABB;
$purple300: #8236ED;

$black: #181818;
$grey: #767676;
$white: #FFF;

// Define semantics
$primary: $purple500;
$secondary: $grey;